In [1]:
import pandas as pd

In [2]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

- We can have values that hold python objects like lists and dictionarys
- Because of this we don't really know how big dataframes are 
- It's important to notice the memory ussage for the .info() method
- [DataFrame.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html)

Object Columns..

In [3]:
# exact memory usage is unknown because object columns are references elsewhere
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

In [11]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

### Category Data Types...
- We can convert an object data type to a category
- This means instead of having a string stored in each cell, there is one of 6 numbers, and each nuber is pointing to a single string to help reduce memory useage.